page-home {

}
.home {
  background-color: color($colors, primary);
  color: color($colors, light);
  margin-top: 30px;
}

.toolbar-title {
  text-align: center;
}
.tabs-md .tabs-button-icon
{
  color: #cccccc;
}
